<h1>ANGULAR</h1>

<!-- <courses></courses> -->
<!-- <app-authors></app-authors> -->
<!-- <app-favorite [isSelected]="post.isFavorite" (change)="onFavChange($event)" ></app-favorite> -->
<!-- <app-titlecase></app-titlecase> -->
<!-- <bootstrap-panel>
  <div class="heading">Heading</div>
  <div class="body">Body</div>
</bootstrap-panel>
 -->

 <!-- <app-like [totalLikes]="tweet.numberOfLikes" [isLiked]="tweet.isLiked" ></app-like> -->

 <!-- NGIF -->
 <!-- <div>
  <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>

  <ng-template #coursesList>
    List of courses:
  </ng-template>
 
  <ng-template #noCourses>
    No courses yet
  </ng-template>
 </div> -->

 <!-- / NGIF -->

 <!-- NGSWITCH -->

 <!-- <ul class="nav nav-pills">
   <li class="nav-item">
     <a (click) ="viewMode='map'" class="nav-link" [class.active]="viewMode=='map'" href="#">Map View</a>
  </li>
  <li class="nav-item">
    <a (click) ="viewMode='list'" class="nav-link" [class.active]="viewMode=='list'" href="#">List View</a>
 </li>
   
 </ul>

 <div [ngSwitch]="viewMode">
   <div *ngSwitchCase=" 'map' " >MAP VIEW CONTENT</div>
   <div *ngSwitchCase=" 'list' ">LIST VIEW CONTENT</div>
   <div *ngSwitchDefault>OTHERWISe</div>
 </div> -->

 <!-- / NGSWITCH -->

 <!-- NGFOR -->

<!-- <ul>
  <li *ngFor="let course of courses2; index as i">
    {{course.name + '-'+ i}}
  </li>
</ul> -->

 <!-- / NGFOR -->


 <!-- ZIPPY -->

<!-- <zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
  Billing Details Content
</zippy> -->

 <!-- / ZIPPY -->
 

 <!-- FORM -->
 
 <!--  <contact-form></contact-form> -->

 <!-- / FORM -->

 <!-- COURSE-FORM -->

  <!-- <course-form></course-form> -->

 <!-- / COURSE-FORM -->

 <!-- SIGNUP -->

 <!-- <signup-form></signup-form> -->

 <!-- / SIGNUP -->

 <!-- OLD PASSWORD -->
    <changepassword-form></changepassword-form>
 <!-- / OLD PASSWORD -->